.actual {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    background-color: #ffffff;
    height:1800px;
  
  }
  .main {
    background-color: #ffffff;
    width: 1600px;
    height: 1700px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  
    color: black;
    position: relative;
  }
  .whitebox {
    z-index: 1;
    position: relative;
    width: 1200px;
    height: 1700px;
    top:10px;
    border-radius: 20px;
    background: linear-gradient(
      45deg,
      rgba(247, 247, 247, 1) 0%,
      rgba(255, 255, 255, 1) 33.33%,
      rgb(231, 231, 231) 66.66%,
      rgba(249, 249, 249, 1) 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 500px;
    align-items: center;
    box-shadow: 5px 5px 20px 20px rgba(0, 0, 0, 0.1);
  }
  .top1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   top:10px;
  }
  .aboutme {
    font-size: 20px;
  
    color:rgb(16, 16, 16);
  }
  .aboutme1 {
    font-size: 20px;
  
    color:rgb(16, 16, 16);
  }
  .headline {
    font-size: 20px;
  font-weight:bold;
    top: 20px;
  
    color:rgb(15, 15, 15);
  }
  .headline1 {
    font-size: 20px;
  font-weight:bold;
    top: 20px;
  
    color:rgb(0, 0, 0);
  }
  .namecontainer {
    position: relative;
    width: 400px;
    height: 240px;
    overflow: hidden;
    border-radius: 24px;
    border: #d3d2d4 1px solid;
  }
  
  .namecontainer::before,
  .namecontainer::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
  }
  
  .namecontainer::before {
    top: 0;
    left: 0;
    background: linear-gradient(
      45deg,
      rgba(247, 247, 247, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 33.33%,
      rgba(255, 255, 255, 0.2) 66.66%,
      rgba(249, 249, 249, 0.2) 100%
    );
  }
  
  .namecontainer::after {
    bottom: 0;
    right: 0;
    background: linear-gradient(
      135deg,
      rgba(251, 251, 251, 0.2) 0%,
      rgba(203, 203, 203, 0.2) 33.33%,
      rgba(247, 247, 247, 0.2) 66.66%,
      rgba(232, 232, 233, 0.2) 100%
    );
  }
  
  .line {
    position: relative;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, #dddddd 50%, rgba(255, 255, 255, 0.650%));
    background-size: 10px 2px;
    z-index: 1;
    margin-left: 2px;
  }
  
  .line2 {
    position: relative;
    width: 1px;
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(221, 221, 221) 50%, rgba(27, 30, 163, 0) 50%);
    background-size: 2px 10px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    left: 20px;
    top: 40px;
  }
  
  .linecontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 120px;
    position: relative;
    bottom: 32px;
  }
  .job {
    display: flex;
    flex-direction: row;
  }
  .namecontainer1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
  }
  .smile {
    font-size: 20px;
    color: black;
    opacity: 1;
    
  }
  .GoSmiley {
    background-color: rgba(237, 237, 237, 0.1);
    top: 12px;
    position: relative;
    left: 12px;
    border-radius: 10%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: #d3d2d4 1px solid;
  }
  .GoSmiley1{
  
    width: 0px;
  
    height: 0px;
  
  }
  .smile1{
    font-size: 0px;
    color: black;
    opacity: 1;
    
  }
  .name {
    font-weight: bold;
    position: relative;
    top: 32px;
    left: 12px;
  }
  .proficiency {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 200px;
    position: relative;
    right:116px;
    bottom: 2px;
  }
  .age {
    display: flex;
    top: 28px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 200px;
    right:284px;
    position: relative;
  }
  .lineA {
    position: relative;
    width: 1px;
    height: 96px;
    background-image: linear-gradient(to bottom, rgb(221, 221, 221) 50%, rgba(27, 30, 163, 0) 50%);
    background-size: 2px 10px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    left: 20px;
    top: 40px;
  }
  
  /* bio */
  .biocontainer {
    position: relative;
    width: 400px;
    height: 240px;
    border-radius: 24px;
    border: #d3d2d4 1px solid;
    overflow: hidden; /* Add overflow: hidden here */
  }
  
  .biocontainer::before,
  .biocontainer::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
  }
  
  .biocontainer::before {
    top: 0;
    left: 0;
    background: linear-gradient(
      45deg,
      rgba(247, 247, 247, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 33.33%,
      rgba(255, 255, 255, 0.2) 66.66%,
      rgba(249, 249, 249, 0.2) 100%
    );
  }
  
  .biocontainer::after {
    bottom: 0;
    right: 0;
    background: linear-gradient(
      135deg,
      rgba(251, 251, 251, 0.2) 0%,
      rgba(203, 203, 203, 0.2) 33.33%,
      rgba(247, 247, 247, 0.2) 66.66%,
      rgba(232, 232, 233, 0.2) 100%
    );
  }
  
  .bio {
   left:30px;
   top:20px;
    position: absolute;
    height: 200px;
    z-index: 2; 
    overflow-y: auto; 
  width:320px;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    line-height: 28px; 
  }
  
  /* techstack */
  .techstackcontainer {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 24px;
    border: #d3d2d4 1px solid;
    overflow: hidden; /* Add overflow: hidden here */
  }
  
  .techstackcontainer::before,
  .techstackcontainer::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
  }
  
  .techstackcontainer::before {
    top: 0;
    left: 0;
    background: linear-gradient(
      45deg,
      rgba(247, 247, 247, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 33.33%,
      rgba(255, 255, 255, 0.2) 66.66%,
      rgba(249, 249, 249, 0.2) 100%
    );
  }
  
  .techstackcontainer::after {
    bottom: 0;
    right: 0;
    background: linear-gradient(
      135deg,
      rgba(251, 251, 251, 0.2) 0%,
      rgba(203, 203, 203, 0.2) 33.33%,
      rgba(247, 247, 247, 0.2) 66.66%,
      rgba(232, 232, 233, 0.2) 100%
    );
  }
  
  .techstack {
   left:30px;
   top:20px;
    position: absolute;
    height: 200px;
    z-index: 2; 
  width:320px;
  
  }
  .techstackname{
    position: relative;
    top: 32px;
    left: 12px;
    font-size: 20px;
  }
  .whatidoitwith{
    position: relative;
    top: 40px;
    left: 12px;
    color:#868988;
  }
  .nextjs{
    width:40px;
    height:40px;
    position: relative;
    padding:2px;
    background-clip: content-box; /* Ensures padding does not affect border width */
    border: 2px dashed rgb(221, 221, 221); /* Adjust the border color and width as needed */
    border-radius: 10px;
  
    padding: 6px;
  }
   .nextjs1{
    top:48px;
    left:16px;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    padding:16px 0px 0px 0px;
   }
   .nextjs2{
    margin-left: 8px;
   }
  .h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight:normal;
    width:1200px;
    cursor:pointer;
  }
  .ak{
  position:absolute;
  inset:0;
  z-index:0;
  height:100%;
  width:100%;
  background: linear-gradient(
    45deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(255, 255, 255, 1) 33.33%,
    rgb(231, 231, 231,1) 66.66%,
    rgba(249, 249, 249, 1) 100%
  );
  }
  .ak::before,
  .ak::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
  }
  .ak::before {
    background: linear-gradient(
      45deg,
      rgba(247, 247, 247, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 33.33%,
      rgba(255, 255, 255, 0.2) 66.66%,
      rgba(249, 249, 249, 0.2) 100%
    );
  }
  
  .ak::after {
    background: linear-gradient(
      135deg,
      rgba(251, 251, 251, 0.2) 0%,
      rgba(203, 203, 203, 0.2) 33.33%,
      rgba(245, 245, 245, 0.2) 66.66%,
      rgba(232, 232, 233, 0.2) 100%
    );
  }
  
  /*projects*/
  .projectscontainer {
    position: relative;
    width: 500px;
    height: 360px;
    border-radius: 24px;
    border: #d3d2d4 1px solid;
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  }
  
  .projectscontainer::before,
  .projectscontainer::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    z-index: 1; /* Ensure pseudo-elements are behind the content */
  }
  
  .projectscontainer::before {
    top: 0;
    left: 0;
    background: linear-gradient(
      45deg,
      rgba(247, 247, 247, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 33.33%,
      rgba(255, 255, 255, 0.2) 66.66%,
      rgba(249, 249, 249, 0.2) 100%
    );
  }
  
  .projectscontainer::after {
    bottom: 0;
    right: 0;
    background: linear-gradient(
      135deg,
      rgba(251, 251, 251, 0.2) 0%,
      rgba(203, 203, 203, 0.2) 33.33%,
      rgba(247, 247, 247, 0.2) 66.66%,
      rgba(232, 232, 233, 0.2) 100%
    );
  }
  .projectsdescriptioncontainer {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 24px;
    overflow-y: auto; 
    padding:12px;
    line-height: 28px; 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    background-clip: content-box; /* Ensures padding does not affect border width */
    border: 2px dashed rgb(221, 221, 221); /* Adjust the border color and width as needed */
  }
  
  .projectscontent {
    position: relative;
    z-index: 2; /* Ensure content is above the pseudo-elements */
    padding: 20px; /* Add some padding if needed */
  }
  
  .prline2{
    position: relative;
    display:flex;
    flex-direction: row;
    gap:8px;
    width:10px;
  }
  .prline3{
    border: 2px dashed rgb(221, 221, 221); /* Adjust the border color and width as needed */
    border-radius: 10px;
  padding:0px 12px 0px 12px;
  }
  .projectlink{
    position:relative;
    width:170px;
  }
  .projectname{
    color:black;
    position:absolute;
    top:16px;
    left:-200px;
  width:180px;
  top:20px;
   
  }
  
  /*experience*/
  .experiencecontainer {
    position: relative;
    width: 600px;
    height: 400px;
    border-radius: 24px;
    border: #d3d2d4 1px solid;
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  }
  
  .experiencecontainer::before,
  .experiencecontainer::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    z-index: 1; /* Ensure pseudo-elements are behind the content */
  }
  
  .experiencecontainer::before {
    top: 0;
    left: 0;
    background: linear-gradient(
      45deg,
      rgba(247, 247, 247, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 33.33%,
      rgba(255, 255, 255, 0.2) 66.66%,
      rgba(249, 249, 249, 0.2) 100%
    );
  }
  
  .experiencecontainer::after {
    bottom: 0;
    right: 0;
    background: linear-gradient(
      135deg,
      rgba(251, 251, 251, 0.2) 0%,
      rgba(203, 203, 203, 0.2) 33.33%,
      rgba(247, 247, 247, 0.2) 66.66%,
      rgba(232, 232, 233, 0.2) 100%
    );
  }
  .experiencedescriptioncontainer {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 24px;
    overflow-y: auto; 
    padding:12px;
    line-height: 28px; 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    background-clip: content-box; /* Ensures padding does not affect border width */
    border: 2px dashed rgb(221, 221, 221); /* Adjust the border color and width as needed */
  }
  .experiencedescriptioncontainer1{
  padding:40px;
  position:relative;
  }
  
  .certifications{
    position: relative;
    top: 32px;
    left: 12px;
    font-size: 20px;
  }
  .currentstatus{
    position: relative;
    width: 350px;
    height: 200px;
    border-radius: 24px;
    overflow-y: auto; 
    padding:12px;
    line-height: 28px; 
    z-index: 2;
    top:40px;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    background-clip: content-box; /* Ensures padding does not affect border width */
    border: 2px dashed rgb(221, 221, 221); /* Adjust the border color and width as needed */
  }
  .sociallinks{
    position: relative;
  bottom:24px;
  z-index: 2;
  }
  .imagecontainer {
    position: relative;
    width: 600px;
    height: 520px;
    border-radius: 24px;
    border: #d3d2d4 1px solid;
    overflow: hidden; /* Add overflow: hidden here */
  }
  
  .imagecontainer::before,
  .imagecontainer::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
  }
  
  .imagecontainer::before {
    top: 0;
    left: 0;
    background: linear-gradient(
      45deg,
      rgba(247, 247, 247, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 33.33%,
      rgba(255, 255, 255, 0.2) 66.66%,
      rgba(249, 249, 249, 0.2) 100%
    );
  }
  
  .imagecontainer::after {
    bottom: 0;
    right: 0;
    background: linear-gradient(
      135deg,
      rgba(251, 251, 251, 0.2) 0%,
      rgba(203, 203, 203, 0.2) 33.33%,
      rgba(247, 247, 247, 0.2) 66.66%,
      rgba(232, 232, 233, 0.2) 100%
    );
  }
  .extracontainer0{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    background:white;
    border-radius: 24px;
    position:absolute;
    top:200px;
    left:80px;
  }
  .extracontainer1{
    display:flex;
    flex-direction: row;
    gap:24px;
  }
  .extracontainer2{
    display:flex;
    flex-direction: column;
    gap:24px;
  }
  .extracontainer3{
   box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    background:white;
    border-radius: 24px;
    position:absolute;
    top:200px;
    left:520px;
  }
  .extracontainer4{
    width:80%;
    height:90%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    top:28px;
    left:60px;
    border-radius:64px;
    box-shadow:10px 15px 35px 10px rgba(0, 0, 0, 0.1);
  }
  .extracontainer5{
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius:64px;
  }
  .extracontainer6{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
     background:white;
     border-radius: 24px;
     position:absolute;
     top:480px;
     left:80px;
   }
   .extracontainer7{
    display:flex;
    flex-direction: row;
    gap:4px;
  }
  .extracontainer8{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
     background:white;
     border-radius: 24px;
     position:absolute;
     top:760px;
     left:80px;
   }
  .extracontainer9{
    display:flex;
    flex-direction: row;
  }
  .extracontainer10{
    position:relative;
    left:52px;
  }
  .extracontainer11{
     background:white;
     border-radius: 24px;
     position:absolute;
     top:760px;
     left:520px;
   }
   .extracontainer12{
    display:flex;
    flex-direction: row;
  }
  .extracontainer13{
    position:relative;
    top:4px;
    padding:16px 6px 0px 28px;
  }
  .extracontainer14{
    display:flex;
    flex-direction: row;
  }
  .extracontainer15{
    border-radius: 24px;
    position:absolute;
    top:1180px;
    left:56px;
  }
  .extracontainer16{
    display:flex;
    flex-direction: column;
    gap:40px;
  }
  .navButton {
    display: inline-block;
    font-size: 16px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .button1{
    display:flex;
    flex-direction: row;
    gap:10px;
    
    position:relative;
    right:416px;
    cursor:pointer;
      }
      .button2{
        display:flex;
        flex-direction: row;
        gap:10px;
        position:relative;
        left:428px;
  top: 4px;
        cursor:pointer;
      }
      .navButtons{
        display:flex;
        flex-direction: row;
        gap:10px;
        position:relative;
        
        justify-items: center;
    
        align-items: center;
      }
      .prline1{
        display:flex;
        flex-direction: row;
        gap:8px;
      }
      .prline4{
        display:flex;
        flex-direction: row;
        gap:8px;
      }
      .prline5{
        display:flex;
        gap:8px;
        flex-direction: row;
      }
  
  .extracontainer21{
    position:relative;
    top:2px;
  }
  
  /*phone*/
  
  @media (max-width: 726px) {
    .extracontainer20{
      position:relative;
      top:2px;
    }
    .button1{
  display:flex;
  flex-direction: row;
  gap:10px;
  top:2px;
  
  position:relative;
  left:24px;
  
  cursor:pointer;
    }
    .button2{
      display:flex;
      flex-direction: row;
      gap:10px;
      position:relative;
      left:200px;
      top:0px;
      cursor:pointer;
    }
    .navButtons{
      display:flex;
      flex-direction: row;
      gap:10px;
  position:relative;
      justify-items: center;
    
      align-items: center;
    }
    
    .actual {
      justify-content: center;
      align-items: center;
      display: flex;
      position: relative;
      background-color: #ffffff;
      height:2400px;
      width: 440px;
    
    }
    .main {
      background-color: #ffffff;
      width: 420px;
      height: 2400px;
  bottom:40px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 0;
    
      color: black;
      position: relative;
    }
    .whitebox {
      z-index: 1;
      position: relative;
      width: 95%;
      height: 90%;
      bottom:200px;
      border-radius: 20px;
      background: linear-gradient(
        45deg,
        rgba(247, 247, 247, 1) 0%,
        rgba(255, 255, 255, 1) 33.33%,
        rgb(231, 231, 231) 66.66%,
        rgba(249, 249, 249, 1) 100%
      );
      display: flex;
      flex-direction: column;
      justify-content: center;
      bottom: 500px;
      align-items: center;
      box-shadow: 20px 25px 20px 20px rgba(0, 0, 0, 0.1);
    }
    .top1 {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     top:10px;
    }
    .aboutme {
      font-size: 20px;
    
      color:rgb(16, 16, 16);
    }
    .aboutme1 {
      font-size: 20px;
    
      color:rgb(16, 16, 16);
    }
    .headline {
      font-size: 20px;
    font-weight:bold;
      top: 20px;
    
      color:rgb(15, 15, 15);
    }
    .headline1 {
      font-size: 20px;
    font-weight:bold;
      top: 20px;
    
      color:rgb(0, 0, 0);
    }
    .namecontainer {
      position: relative;
      width: 376px;
      height: 240px;
      overflow: hidden;
      border-radius: 24px;
      border: #d3d2d4 1px solid;
    }
    
    .namecontainer::before,
    .namecontainer::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
    }
    
    .namecontainer::before {
      top: 0;
      left: 0;
      background: linear-gradient(
        45deg,
        rgba(247, 247, 247, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 33.33%,
        rgba(255, 255, 255, 0.2) 66.66%,
        rgba(249, 249, 249, 0.2) 100%
      );
    }
    
    .namecontainer::after {
      bottom: 0;
      right: 0;
      background: linear-gradient(
        135deg,
        rgba(251, 251, 251, 0.2) 0%,
        rgba(203, 203, 203, 0.2) 33.33%,
        rgba(247, 247, 247, 0.2) 66.66%,
        rgba(232, 232, 233, 0.2) 100%
      );
    }
    
    .line {
      position: relative;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to right, #dddddd 50%, rgba(255, 255, 255, 0.650%));
      background-size: 10px 2px;
      z-index: 1;
      margin-left: 2px;
    }
    
    .line2 {
      position: relative;
      width: 1px;
      height: 100%;
      background-image: linear-gradient(to bottom, rgb(221, 221, 221) 50%, rgba(27, 30, 163, 0) 50%);
      background-size: 2px 10px;
      z-index: 1;
      display: flex;
      flex-direction: row;
      left: 20px;
      top: 40px;
    }
    
    .linecontainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 120px;
      position: relative;
      bottom: 32px;
    }
    .job {
      display: flex;
      flex-direction: row;
    }
    .namecontainer1 {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 12px;
    }
    .smile {
      font-size: 20px;
      color: black;
      opacity: 1;
    }
    .GoSmiley {
      background-color: rgba(237, 237, 237, 0.1);
      top: 12px;
      position: relative;
      left: 12px;
      border-radius: 10%;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      border: #d3d2d4 1px solid;
    }
    .name {
      font-weight: bold;
      position: relative;
      top: 32px;
      left: 12px;
    }
    .proficiency {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 200px;
      position: relative;
      right:116px;
      bottom: 2px;
    }
    .age {
      display: flex;
      top: 28px;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 200px;
      right:284px;
      position: relative;
    }
    .lineA {
      position: relative;
      width: 1px;
      height: 96px;
      background-image: linear-gradient(to bottom, rgb(221, 221, 221) 50%, rgba(27, 30, 163, 0) 50%);
      background-size: 2px 10px;
      z-index: 1;
      display: flex;
      flex-direction: row;
      left: 20px;
      top: 40px;
    }
    
    /* bio */
    .biocontainer {
      position: relative;
      width: 180px;
      height: 240px;
      border-radius: 24px;
      border: #d3d2d4 1px solid;
      overflow: hidden; /* Add overflow: hidden here */
    }
    
    .biocontainer::before,
    .biocontainer::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
    }
    
    .biocontainer::before {
      top: 0;
      left: 0;
      background: linear-gradient(
        45deg,
        rgba(247, 247, 247, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 33.33%,
        rgba(255, 255, 255, 0.2) 66.66%,
        rgba(249, 249, 249, 0.2) 100%
      );
    }
    
    .biocontainer::after {
      bottom: 0;
      right: 0;
      background: linear-gradient(
        135deg,
        rgba(251, 251, 251, 0.2) 0%,
        rgba(203, 203, 203, 0.2) 33.33%,
        rgba(247, 247, 247, 0.2) 66.66%,
        rgba(232, 232, 233, 0.2) 100%
      );
    }
    
    .bio {
      overflow-x: none; 
      position: relative;
      height: 200px;
      z-index: 2; 
      overflow-y: auto; 
    width:120px;
      -ms-overflow-style: none; 
      scrollbar-width: none; 
      line-height: 28px; 
    }
    
    /* techstack */
    .techstackcontainer {
      position: relative;
      width: 376px;
      height: 400px;
      border-radius: 24px;
      border: #d3d2d4 1px solid;
      overflow: hidden; /* Add overflow: hidden here */
    }
    .extracontainer7{
      display:flex;
      flex-direction: column;
      gap:4px;
    }
    .extracontainer8{
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
       background:white;
       border-radius: 24px;
       position:absolute;
       top:720px;
       left:10px;
       width:94%;
     }
    .techstackcontainer::before,
    .techstackcontainer::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
    }
    
    .techstackcontainer::before {
      top: 0;
      left: 0;
      background: linear-gradient(
        45deg,
        rgba(247, 247, 247, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 33.33%,
        rgba(255, 255, 255, 0.2) 66.66%,
        rgba(249, 249, 249, 0.2) 100%
      );
    }
    
    .techstackcontainer::after {
      bottom: 0;
      right: 0;
      background: linear-gradient(
        135deg,
        rgba(251, 251, 251, 0.2) 0%,
        rgba(203, 203, 203, 0.2) 33.33%,
        rgba(247, 247, 247, 0.2) 66.66%,
        rgba(232, 232, 233, 0.2) 100%
      );
    }
    
    .techstack {
     left:30px;
     top:20px;
      position: absolute;
      height: 200px;
      z-index: 2; 
    width:320px;
    
    }
    .techstackname{
      position: relative;
      top: 32px;
      left: 12px;
      font-size: 20px;
    }
    .whatidoitwith{
      position: relative;
      top: 40px;
      left: 12px;
      color:#868988;
    }
    .nextjs{
      width:40px;
      height:40px;
      position: relative;
      padding:2px;
      background-clip: content-box; /* Ensures padding does not affect border width */
      border: 2px dashed rgb(221, 221, 221); /* Adjust the border color and width as needed */
      border-radius: 10px;
    
      padding: 6px;
    }
     .nextjs1{
      top:48px;
      left:8px;
      align-items: center;
      display: flex;
      flex-direction: row;
      position: relative;
      padding:16px 0px 0px 0px;
     }
     .nextjs2{
      margin-left: 8px;
     }
    .h1{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-weight:normal;
      width:400px;
      cursor:pointer;
    }
    .ak{
    position:absolute;
    inset:0;
    z-index:0;
    height:100%;
    width:100%;
    background: linear-gradient(
      45deg,
      rgba(247, 247, 247, 1) 0%,
      rgba(255, 255, 255, 1) 33.33%,
      rgb(231, 231, 231,1) 66.66%,
      rgba(249, 249, 249, 1) 100%
    );
    }
    .ak::before,
    .ak::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
    }
    .ak::before {
      background: linear-gradient(
        45deg,
        rgba(247, 247, 247, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 33.33%,
        rgba(255, 255, 255, 0.2) 66.66%,
        rgba(249, 249, 249, 0.2) 100%
      );
    }
    
    .ak::after {
      background: linear-gradient(
        135deg,
        rgba(251, 251, 251, 0.2) 0%,
        rgba(203, 203, 203, 0.2) 33.33%,
        rgba(245, 245, 245, 0.2) 66.66%,
        rgba(232, 232, 233, 0.2) 100%
      );
    }
    
    /*projects*/
    .projectscontainer {
      position: relative;
      width: 376px;
      height: 380px;
      border-radius: 24px;
      border: #d3d2d4 1px solid;
      overflow: hidden;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
    
    .projectscontainer::before,
    .projectscontainer::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
      z-index: 1; /* Ensure pseudo-elements are behind the content */
    }
    
    .projectscontainer::before {
      top: 0;
      left: 0;
      background: linear-gradient(
        45deg,
        rgba(247, 247, 247, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 33.33%,
        rgba(255, 255, 255, 0.2) 66.66%,
        rgba(249, 249, 249, 0.2) 100%
      );
    }
    
    .projectscontainer::after {
      bottom: 0;
      right: 0;
      background: linear-gradient(
        135deg,
        rgba(251, 251, 251, 0.2) 0%,
        rgba(203, 203, 203, 0.2) 33.33%,
        rgba(247, 247, 247, 0.2) 66.66%,
        rgba(232, 232, 233, 0.2) 100%
      );
    }
    .projectsdescriptioncontainer {
      position: relative;
      width: 150px;
      height: 250px;
      border-radius: 24px;
      overflow-y: auto; 
      padding:12px 12px 12px 12px;
      line-height: 28px; 
      -ms-overflow-style: none; 
      scrollbar-width: none; 
      background-clip: content-box; /* Ensures padding does not affect border width */
      border: 2px dashed rgb(221, 221, 221); /* Adjust the border color and width as needed */
    }
    
    .projectscontent {
      position: relative;
      z-index: 2; /* Ensure content is above the pseudo-elements */
      padding: 20px; /* Add some padding if needed */
    }
    .prline1{
      position: relative;
      display:flex;
      flex-direction: column;
      gap:8px;
     
    }
    .prline4{
      position: relative;
      display:flex;
      flex-direction: row;
      gap:8px;
      width:10px;
    }
    .prline5{
      position: relative;
      display:flex;
      flex-direction: row;
      gap:8px;
      width:10px;
    }
    .prline3{
      border: 2px dashed rgb(221, 221, 221); /* Adjust the border color and width as needed */
      border-radius: 10px;
    padding:0px 12px 0px 12px;
    }
    .projectlink{
      position:relative;
    }
    .projectname{
      color:black;
      position:absolute;
      top:16px;
      width:180px;
      left:0px;
    }
    
    /*experience*/
    .experiencecontainer {
      position: relative;
      width: 376px;
      height: 540px;
      border-radius: 24px;
      border: #d3d2d4 1px solid;
      overflow: hidden;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
    .extracontainer11{
      background:white;
      border-radius: 24px;
      position:absolute;
      top:1140px;
      left:10px;
    }
    .extracontainer12{
     display:flex;
     flex-direction: row;
   }
   .extracontainer13{
     position:relative;
     top:4px;
     padding:16px 6px 0px 28px;
   }
    .experiencecontainer::before,
    .experiencecontainer::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
      z-index: 1; /* Ensure pseudo-elements are behind the content */
    }
    
    .experiencecontainer::before {
      top: 0;
      left: 0;
      background: linear-gradient(
        45deg,
        rgba(247, 247, 247, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 33.33%,
        rgba(255, 255, 255, 0.2) 66.66%,
        rgba(249, 249, 249, 0.2) 100%
      );
    }
    
    .experiencecontainer::after {
      bottom: 0;
      right: 0;
      background: linear-gradient(
        135deg,
        rgba(251, 251, 251, 0.2) 0%,
        rgba(203, 203, 203, 0.2) 33.33%,
        rgba(247, 247, 247, 0.2) 66.66%,
        rgba(232, 232, 233, 0.2) 100%
      );
    }
    .experiencedescriptioncontainer {
      position: relative;
      width: 250px;
      height: 250px;
      border-radius: 24px;
      overflow-y: auto; 
      padding:12px;
      line-height: 28px; 
      -ms-overflow-style: none; 
      scrollbar-width: none; 
      background-clip: content-box; /* Ensures padding does not affect border width */
      border: 2px dashed rgb(220, 220, 220); /* Adjust the border color and width as needed */
    }
    .experiencedescriptioncontainer1{
    padding:20px;
    position:relative;
    }
    
    .certifications{
      position: relative;
      top: 32px;
      left: 12px;
      font-size: 20px;
    }
    .currentstatus{
      position: relative;
      width: 332px;
      height: 160px;
      border-radius: 24px;
      overflow-y: auto; 
      padding:12px;
      line-height: 28px; 
     
      z-index: 2;
      top:40px;
      -ms-overflow-style: none; 
      scrollbar-width: none; 
      background-clip: content-box; /* Ensures padding does not affect border width */
      border: 2px dashed rgb(221, 221, 221); /* Adjust the border color and width as needed */
    }
    .sociallinks{
      position: relative;
    bottom:24px;
    z-index: 2;
    }
    .imagecontainer {
      position: relative;
      width: 180px;
      height: 240px;
      
      border: #d3d2d4 1px solid;
      overflow: hidden; /* Add overflow: hidden here */
    }
    .smile1 {
      font-size: 20px;
      color: black;
      opacity: 1;
      
    }
    .GoSmiley1 {
      background-color: rgba(237, 237, 237, 0.1);
      top: 20px;
      position: relative;
      left: 14px;
      border-radius: 10%;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      border: #d3d2d4 1px solid;
    }
    .imagecontainer::before,
    .imagecontainer::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
    }
    
    .imagecontainer::before {
      top: 0;
      left: 0;
      background: linear-gradient(
        45deg,
        rgba(247, 247, 247, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 33.33%,
        rgba(255, 255, 255, 0.2) 66.66%,
        rgba(249, 249, 249, 0.2) 100%
      );
    }
    
    .imagecontainer::after {
      bottom: 0;
      right: 0;
      background: linear-gradient(
        135deg,
        rgba(251, 251, 251, 0.2) 0%,
        rgba(203, 203, 203, 0.2) 33.33%,
        rgba(247, 247, 247, 0.2) 66.66%,
        rgba(232, 232, 233, 0.2) 100%
      );
    }
    .extracontainer0a{
      width:100%;
     
      display:flex;
    }
    .extracontainer0{
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
      background:white;
      border-radius: 24px;
      position:absolute;
      top:200px;
      left:10px;
    }
    .extracontainer1{
      display:flex;
      flex-direction: row;
      gap:24px;
    }
    .extracontainer2{
      display:flex;
      flex-direction: column;
      gap:24px;
    }
    .extracontainer3{
     box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
      background:white;
      
      position:absolute;
      top:460px;
      left:205px;
    }
    .extracontainer4{
      width:85%;
      height:55%;
      display:flex;
      justify-content:center;
      align-items:center;
      position:relative;
      top:48px;
      left:14px;
      border-radius: 5px;
      box-shadow:10px 15px 35px 10px rgba(0, 0, 0, 0.1);
    }
    .extracontainer5{
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 8px;
      z-index: 2;
    }
    .extracontainer6{
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
       background:white;
       border-radius: 24px;
       position:absolute;
       top:460px;
       left:10px;
     }
  
    .extracontainer9{
      display:flex;
      flex-direction: row;
    }
    .extracontainer10{
      position:relative;
      left:64px;
    }
  
    .extracontainer14{
      display:flex;
      flex-direction: column;
    gap:10px;
    }
    .extracontainer15{
      border-radius: 24px;
      position:relative;
      top:590px;
      right:20px;
    }
    .extracontainer16{
      display:flex;
      flex-direction: column;
     position:absolute;
     top:8px;
     right:72px;
      width:200px;
    }
      
  }